<div class="container">
  <div class="row">
    <h2 class="mt-5 text-uppercase text-info">{{title}}</h2>
    <div class="col-12 mt-2 pt-4 border-top">
    <app-post-list-component *ngFor="let post of posts"
              [blogTitle]="post.title"
              [blogContent]="post.content"
              [blogData]="post.createDate"
              [blogLoveIts]="post.loveIts"
    >
    </app-post-list-component>
    </div>
  </div>
</div>
