<li class="mt-2" [ngClass]="{'list-group-item':true,
                'list-group-item-success': blogLoveIts > 0,
                'list-group-item-danger': blogLoveIts < 0}">
  <div class="float-right">
    {{ blogData | date: 'short'}}
  </div>
  <h3>{{ blogTitle }}</h3>
  <p>{{blogContent }}</p>
  <button class="btn btn-success" (click)="addLoveIts()">Love it!</button>
  <div class="m-3 d-inline-block">{{blogLoveIts}}</div>
  <button class="btn btn-danger" (click)="removeLoeIts()">Don't love it!</button>
</li>
